<form method="post" action="{{ path('app_data_source_delete', {'id': data_source.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer cette source et les données liées ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ data_source.id) }}">
    <button class="btn">Supprimer</button>
</form>
