body {
}

/* datagrid  */

#grid {
	border: 1px solid #ccc;
	width: 100%;
	height: 400px;
}

/*.dgxl-part-searchBar,
.dgxl-topbar,
.dgxl-bottombar .dgxl-inputWrapper {display: none !important;}
*/
/*.dgxl-display {inset:0 0!important;}*/
/* end datagrid  */


/* autocomplete  */
.autocomplete-item {
    padding: 6px 6px;
    cursor: pointer;
}
.autocomplete-item:hover {
    background-color: #ddd;
}

.wrapper {
    @media(min-width: 992px) {
        display: grid;
        grid-template-columns: var(--sidebar-max-width) auto;
        min-height: 100vh;
    }

    @media(min-width: 1280px) {
        grid-column-gap: 0;
    }
}

.form-search-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}