body {
}

/* datagrid  */
#grid {
	border: 1px solid #ccc;
	width: 100%;
	height: 400px;
}
/*.dgxl-part-searchBar,
.dgxl-topbar,
.dgxl-bottombar .dgxl-inputWrapper {display: none !important;}
*/
/*.dgxl-display {inset:0 0!important;}*/
/* end datagrid  */


.app-codif .l-navigation__drawer,
.app-codif .l-main ,
.app-codif .l-aside { padding:1rem; }

