@import 'vanilla-framework';
@include vanilla;
@include vf-p-icon-containers;
@include vf-p-icon-begin-downloading;
@include vf-p-icon-user-group;


$vertical_space: 0.75rem; /*12 px*/
$horizontal_space: 0.75rem; /*12 px*/

.p-0 {padding: 0;}
.p-1 {padding: $horizontal_space;}
.p-2 {padding: calc($horizontal_space*2);}
.p-3 {padding: calc($horizontal_space*3);}
.p-4 {padding: calc($horizontal_space*4);}

.pt-0 {padding-top: 0;}
.pt-1 {padding-top: $vertical_space;}
.pt-2 {padding-top: calc($vertical_space*2);}
.pt-3 {padding-top: calc($vertical_space*3);}
.pt-4 {padding-top: calc($vertical_space*4);}

.pl-0 {padding-left: 0;}
.pl-1 {padding-left: $horizontal_space;}
.pl-2 {padding-left: calc($horizontal_space*2);}
.pl-3 {padding-left: calc($horizontal_space*3);}
.pl-4 {padding-left: calc($horizontal_space*4);}

.mb-0 {margin-bottom: 0;}
.mb-1 {margin-bottom: $horizontal_space;}
.mb-2 {margin-bottom: calc($horizontal_space*2);}
.mb-3 {margin-bottom: calc($horizontal_space*3);}
.mb-4 {margin-bottom: calc($horizontal_space*4);}

.ml-0 {margin-left: 0;}
.ml-1 {margin-left: $horizontal_space;}
.ml-2 {margin-left: calc($vertical_space*2);}
.ml-3 {margin-left: calc($vertical_space*3);}
.ml-4 {margin-left: calc($vertical_space*4);}

.d-flex { display: flex;}
.justify-content-start { justify-content: start;}
.justify-content-end { justify-content: end;}
.justify-content-between { justify-content: space-between;}

.no-text-indent {text-indent:0;}
.form-row {margin-bottom: calc($vertical_space*2);}